**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.github/
**/node_modules/
**/*.user
**/*.suo
**/appsettings.Development.json
**/.env
**/.env.*
**/Dockerfile
**/.dockerignore
**/docker-compose*.yml
**/*.md
LICENSE
.gitignore
.gitattributes
